body {
    text-align: center;
    background-color: #27ae60;
    background-image: url('img/fondo1.JPEG');
  }
  
  .fa-circle-check {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 8em;
    margin-top: 15%;
  }
  
  p {
    color: #fff;
    font-size: 2em;
  }
  
  a {
    text-decoration: none;
  }
  
  span {
    color: #fff;
    cursor: pointer;
  }
  
  span:hover {
    color: #ccc;
  }